<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h5 class="text-light">Editar jogador (<%= user.nome %>) </h5>
                </div>
                <div class="card-body p-4">
                    <form action="/update/<%=user._id%>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" class="form-control form-control-lg" placeholder="Enter Name" value="<%= user.nome %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="time">Time</label>
                            <input type="text" name="time" class="form-control form-control-lg" placeholder="Enter Email" value="<%= user.time %>"/>
                        </div>
                        <div class="mb-3">
                            <label for="text">País</label>
                            <input type="text" name="pais" class="form-control form-control-lg" placeholder="Enter Phone" value="<%= user.pais %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input type="file" name="image" class="form-control form-control-lg"/>
                            <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1">
                            <input type="hidden" name="old_image" value="<%= user.image %>">

                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Update User" class="btn btn-success btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>